$theme-colors: (
  "primary": linen,
  "danger": salmon
);

@import 'node_modules/bootstrap/scss/bootstrap';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 840px;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

/* Links */
a {
    color: #141414;
}
a:hover {
    color: plum;
}

/* Circle Styling Blob*/
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 2rem;
}
#weather {
    background: rgb(255,240,245);
    background: radial-gradient(circle, rgba(255,240,245,1) 0%, rgba(216,191,216,1) 100%);
}
#planner {
    background: rgb(250,235,215);
    background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(233,150,122,1) 100%);
}
#btnWeather, #btnPlanner {
    margin-top: 8.5rem;
    margin-left: 6.5rem;
}

/* Media Queries */ 
  @media (max-width: 690px) {
    .d-flex {
      flex-direction: column;
    }
  }