$theme-colors: (
  "primary": blanchedalmond,
  "secondary": darksalmon,
  "success": olivedrab,
  "danger": mistyrose,
  "warning": khaki,
  "info": peachpuff,
  "light": thistle,
  "dark": plum,
  "link": papayawhip,
);

$enable-gradients: true;

/* Text Utilities */
$h1-font-size: 2rem;
$h2-font-size: 1.85rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.15rem;

$headings-font-weight: 300;

$display1-size: 3.75rem;
$display2-size: 3rem;
$display3-size: 2.5rem;
$display4-size: 2rem;

$display1-weight: 100;
$display2-weight: 100;
$display3-weight: 100;
$display4-weight: 100;

$mark-bg: lavenderblush;
$code-color: khaki;

$jumbotron-bg: linen;

@import 'node_modules/bootstrap/scss/bootstrap';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.material-icons{
    display: inline-flex;
    vertical-align: top;
}

/* Circle Styling Blob*/
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 2rem;
}
#orb {
  background: rgb(255,240,245);
  background: radial-gradient(circle, rgba(255,240,245,1) 0%, rgba(216,191,216,1) 100%);
}

/* Media Queries */ 
  @media (max-width: 690px) {
    .d-flex {
      flex-direction: column;
    }
  }