$theme-colors: (
  "primary": thistle,
  "secondary": darkslategrey,
  "success": olivedrab,
  "danger": salmon,
  "warning": darkkhaki,
  "info": darkseagreen,
  "light": lavender,
  "dark": plum,
);

$body-bg: whitesmoke;

/* Text Utilities */
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.35rem;
$h6-font-size: 1.25rem;

$headings-font-weight: 400;

$display1-size: 3.75rem;
$display2-size: 3.5rem;
$display3-size: 3rem;
$display4-size: 2.5rem;

$display1-weight: 300;
$display2-weight: 100;
$display3-weight: 100;
$display4-weight: 100;

$mark-bg: lavender;
$code-color: plum;

$jumbotron-bg: lavender;

@import 'node_modules/bootstrap/scss/bootstrap';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.container {
  max-width: 1000px;
}
.material-icons {
  display: inline-flex;
  vertical-align: top;
}

/* Button Styles Blob */
.btn {
  margin: .25rem;
}
.btn-primary, .btn-primary:focus, 
.btn-primary:active, .btn-primary:hover { color: white; }

.btn-secondary, .btn-secondary:focus, 
.btn-secondary:active, .btn-secondary:hover { color: white; }

.btn-success, .btn-success:focus, 
.btn-success:active, .btn-success:hover { color: white; }

.btn-danger, .btn-danger:focus, 
.btn-danger:active, .btn-danger:hover { color: white; }

.btn-warning, .btn-warning:focus, 
.btn-warning:active, .btn-warning:hover { color: white; }

.btn-info, .btn-info:focus, 
.btn-info:active, .btn-info:hover { color: white; }

.btn-light, .btn-light:focus, 
.btn-light:active, .btn-light:hover { color: white; }

.btn-dark, .btn-dark:focus, 
.btn-dark:active, .btn-dark:hover { color: white; }

.btn-outline-primary:focus, 
.btn-outline-primary:active, .btn-outline-primary:hover { color: white; }

.btn-outline-secondary:focus, 
.btn-outline-secondary:active, .btn-outline-secondary:hover { color: white; }

.btn-outline-success:focus, 
.btn-outline-success:active, .btn-outline-success:hover { color: white; }

.btn-outline-danger:focus, 
.btn-outline-danger:active, .btn-outline-danger:hover { color: white; }

.btn-outline-warning:focus, 
.btn-outline-warning:active, .btn-outline-warning:hover { color: white; }

.btn-outline-info:focus, 
.btn-outline-info:active, .btn-outline-info:hover { color: white; }

.btn-outline-light:focus, 
.btn-outline-light:active, .btn-outline-light:hover { color: white; }

.btn-outline-dark:focus, 
.btn-outline-dark:active, .btn-outline-dark:hover { color: white; }

/* Circle Styling Blob*/
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 2rem;
}
#orb {
  background: rgb(255,240,245);
  background: radial-gradient(circle, rgba(255,240,245,1) 0%, rgba(216,191,216,1) 100%);
}

/* Media Queries */ 
  @media (max-width: 690px) {
    .d-flex {
      flex-direction: column;
    }
  }